<div class="max-w-7xl mx-auto mt-8">
    <div class="lg:hidden mb-8">
        <div class="flex flex-row justify-start">
            <div class="flex items-center mx-5">
                <img [src]="items.competizione.nazione.bandiera" alt="" class="rounded-full h-20 w-20 mx-3 object-cover">
            </div>
            <div>
                <h2 class="text-base text-[#cccccc]">{{items.competizione.nazione.nome}}</h2>
                <h2 class="text-white text-xl font-bold">{{items.competizione.nome}}</h2>
                <h2 class="text-[#cccccc] text-sm">{{items.circuito.nome}}</h2>
            </div>
        </div>
    </div>


    <div class="hidden lg:flex flex-row justify-center gap-24 my-24">
        <div class="flex items-center mx-5">
            <img [src]="items.competizione.nazione.bandiera" alt="" class="rounded-full h-52 w-52 mx-3 object-cover">
        </div>
        <div class="flex flex-col gap-8 justify-center">
            <h2 class="text-xl text-[#cccccc]">{{items.competizione.nazione.nome}}</h2>
            <h2 class="text-white text-5xl font-bold">{{items.competizione.nome}}</h2>
            <h2 class="text-[#cccccc] text-lg">{{items.circuito.nome}}</h2>
        </div>
    </div>


    <div class="w-full flex justify-center lg:mb-28 mb-14">
        <div style="width: 550px">
            <div class="bg-[#2a2a2a] h-20 rounded-2xl p-4 m-4 flex flex-row justify-around">
                <div class="flex flex-col justify-center items-center gap-2">
                    <h2 class="text-[#cccccc] text-base text-center">Data</h2>
                    <h2 class="text-white text-2xl font-bold text-center">{{items.data}}</h2>
                </div>
                <div class="flex flex-col justify-center items-center gap-2">
                    <h2 class="text-[#cccccc] text-base text-center">Stato</h2>
                    <h2 class="text-white text-2xl font-bold text-center">{{items.stato}}</h2>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center text-white font-bold text-2xl">Giro più veloce</h2>
    <div class="w-full flex justify-center">
        <div style="width: 650px">
            <div class="bg-[#2a2a2a] h-32 rounded-2xl p-4 m-4 flex flex-row justify-around">
                <div class="flex flex-col justify-center items-center gap-5">
                    <h2 class="text-[#cccccc] text-base text-center">Pilota</h2>
                    <h2 class="text-white text-2xl font-bold text-center">{{items.giroVeloce.pilota.nome}}</h2>
                </div>
                <div class="flex flex-col justify-center items-center gap-5">
                    <h2 class="text-[#cccccc] text-base text-center">Tempo</h2>
                    <h2 class="text-white text-2xl font-bold text-center">{{items.giroVeloce.tempo}}</h2>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-chi-siamo mx-20 rounded my-16">


    <div class="mb-24 lg:mb-36">
        <h2 class="text-center text-white my-6 font-bold text-2xl">Classifica Gran prix</h2>
        <div *ngFor="let item of (showAllClassGP ? items.classificaGranPremio : items.classificaGranPremio.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2">
                <h2 class="text-base text-white font-bold">
                    {{item.nome}}
                    <span class="giroVeloce-indicator" *ngIf="item.id === giroVeloceId" title="Giro Veloce"></span>
                </h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-base text-[#cccccc]">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-32">
                <h2 class="text-base text-white">{{ (item.punti !== null && item.punti !== undefined) ? item.punti + 'pt' : item.tempo }}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllClassGP = !showAllClassGP" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllClassGP ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllClassGP">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllClassGP">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>


    <div class="mb-24 lg:mb-36" *ngIf="items.classificaSprint && items.classificaSprint.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Sprint</h2>
        <div *ngFor="let item of (showAllSprint ? items.classificaSprint : items.classificaSprint.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-32">
                <h2 class="text-base text-white">{{ (item.punti !== null && item.punti !== undefined) ? item.punti + 'pt' : item.tempo }}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllSprint = !showAllSprint" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllSprint ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllSprint">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllSprint">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaSprint || items.classificaSprint.length === 0">
        <p class="text-white"></p>
    </div>


    <div class="mb-24 lg:mb-36" *ngIf="items.classificaSQ1 && items.classificaSQ1.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Qualifica Sprint 1 </h2>
        <div *ngFor="let item of (showAllSQ1 ? items.classificaSQ1 : items.classificaSQ1.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllSQ1 = !showAllSQ1" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllSQ1 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllSQ1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllSQ1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaSQ1 || items.classificaSQ1.length === 0">
        <p class="text-white"></p>
    </div>


    <div class="mb-24 lg:mb-36" *ngIf="items.classificaSQ2 && items.classificaSQ2.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Qualifica Sprint 2 </h2>
        <div *ngFor="let item of (showAllSQ2 ? items.classificaSQ2 : items.classificaSQ2.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class=" text-base text-[#cccccc]">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllSQ2 = !showAllSQ2" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllSQ2 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllSQ2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllSQ2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaSQ2 || items.classificaSQ2.length === 0">
        <p class="text-white"></p>
    </div>



    <div class="mb-24 lg:mb-36" *ngIf="items.classificaSQ3 && items.classificaSQ3.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Qualifica Sprint 3 </h2>
        <div *ngFor="let item of (showAllSQ3 ? items.classificaSQ3 : items.classificaSQ3.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllSQ3 = !showAllSQ3" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllSQ3 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllSQ3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllSQ3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaSQ3 || items.classificaSQ3.length === 0">
        <p class="text-white"></p>
    </div>



    <div class="mb-24 lg:mb-36" *ngIf="items.classificaQ1 && items.classificaQ1.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Qualifica 1 </h2>
        <div *ngFor="let item of (showAllQ1 ? items.classificaQ1 : items.classificaQ1.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllQ1 = !showAllQ1" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllQ1 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllQ1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllQ1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaQ1 || items.classificaQ1.length === 0">
        <p class="text-white"></p>
    </div>



    <div class="mb-24 lg:mb-36" *ngIf="items.classificaQ2 && items.classificaQ2.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Qualifica 2 </h2>
        <div *ngFor="let item of (showAllQ2 ? items.classificaQ2 : items.classificaQ2.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base ">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllQ2 = !showAllQ2" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllQ2 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllQ2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllQ2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaQ2 || items.classificaQ2.length === 0">
        <p class="text-white"></p>
    </div>




    <div class="mb-24 lg:mb-36" *ngIf="items.classificaQ3 && items.classificaQ3.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Qualifica 3 </h2>
        <div *ngFor="let item of (showAllQ3 ? items.classificaQ3 : items.classificaQ3.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllQ3 = !showAllQ3" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllQ3 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllQ3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllQ3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaQ3 || items.classificaQ3.length === 0">
        <p class="text-white"></p>
    </div>



    <div class="mb-24 lg:mb-36" *ngIf="items.classificaP1 && items.classificaP1.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Prova libera 1</h2>
        <div *ngFor="let item of (showAllP1 ? items.classificaP1 : items.classificaP1.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllP1 = !showAllP1" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllP1 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllP1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllP1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaP1 || items.classificaP1.length === 0">
        <p class="text-white"></p>
    </div>


    <div class="mb-24 lg:mb-36" *ngIf="items.classificaP2 && items.classificaP2.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Prova libera 2</h2>
        <div *ngFor="let item of (showAllP2 ? items.classificaP2 : items.classificaP2.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <a (click)="showAllP2 = !showAllP2" class=" bg-none text-white px-4 py-2 rounded mt-2 ">
                Mostra {{showAllP2 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllP2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllP2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaP2 || items.classificaP2.length === 0">
        <p class="text-white"></p>
    </div>



    <div class="mb-24 lg:mb-36" *ngIf="items.classificaP3 && items.classificaP3.length > 0">
        <h2 class="text-center text-white font-bold text-2xl my-6">Classifica Prova libera 3</h2>
        <div *ngFor="let item of (showAllP3 ? items.classificaP3 : items.classificaP3.slice(0, 3))" class="bg-[#2a2a2a] lg:h-12 rounded-2xl p-1 px-2 mx-4 my-2 flex flex-row justify-between">
            <div class="flex flex-row justify-between items-center lg:gap-5">
                <h2 class="text-lg font-bold lg:ms-3 text-white">{{item.posizione}}</h2>
                <img [src]="item.nazione?.bandiera" class="h-6 lg:h-8 w-6 lg:w-8 rounded-full object-cover mx-2" *ngIf="item.nazione">
                <h2 class="text-base text-white font-bold">{{item.nome}}</h2>
            </div>
            <div class="hidden lg:flex items-center">
                <h2 class="text-[#cccccc] text-base ">{{item.scuderia.nome}}</h2>
            </div>
            <div class="flex items-center lg:me-28">
                <h2 class="text-base text-white">{{item.tempo}}</h2>
            </div>
        </div>
        <div class="flex justify-center items-center">
            <a (click)="showAllP3 = !showAllP3" class="bg-none text-white px-4 py-2 rounded mt-2">
                Mostra {{showAllP3 ? 'meno' : 'tutti'}} risultati
                <span *ngIf="showAllP3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
                    </svg>
                </span>
                <span *ngIf="!showAllP3">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" class="inline-block w-4 h-4 align-text-bottom">
                        <path stroke-linecap="round" style="color: white;" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="flex justify-center" *ngIf="!items.classificaP3 || items.classificaP3.length === 0">
        <p class="text-white"></p>
    </div>


</div>