<div class="flex items-center justify-center h-screen">
    <div *ngIf="items" class="w-80 rounded-md bg-zinc-500 p-0.5 card">
        <img [src]="items.immagine" alt="Load..." />
        <div class="bg-ziflex flex-col p-4">
            <h2 class="text-black">{{ items.titolo }}</h2>
            <p class="text-black">{{ items.long }}</p>
            <div class="mt-4">
                <p class="text-black">Data:</p>
                <p class="text-gray-600">{{ items.data }}</p>
            </div>
        </div>
    </div>

    <h1 *ngIf="!items">Caricamento in corso...</h1>
</div>