<div class="flex items-center justify-center pb-20 pt-20 big-container mx-16">
    <div *ngIf="articolo" class="lg:w-2/4 rounded-md card">
        <img src={{articolo.imageUrl}} alt="Load..." />
        <div class="bg-ziflex flex-col ">
            <h2 class="text-white pb-3">{{ articolo.titolo }}</h2>
            <p class="text-white text-lg">{{ articolo.testo }}</p>
            <div class="mt-4">
                <p class="text-white">{{ articolo.data }}</p>
                <p class="text-gray-600">Autore: {{ articolo.autore }}</p>
                <br>
                <p class="text-white social-icons">Condividi :
                    <a href=""><i class="fab fa-facebook p-2"></i></a>
                    <a href=""><i class="fab fa-instagram p-2"></i></a>
                    <a href=""><i class="fab fa-telegram p-2"></i></a>
                    <a href=""><i class="fab fa-whatsapp p-2"></i></a>
                </p>
            </div>
        </div>
    </div>

    <h1 *ngIf="!articolo">Caricamento in corso...</h1>
</div>