<div class="mx-auto grid grid-cols-2 grid-rows-2 p-4 h-[35vh]">
    <!-- Riga 1, Colonna 1 -->
    <div class="bg-blue-500">
        {{items.nazione.nome}} <br>
        {{items.nome}}
    </div>

    <!-- Riga 1, Colonna 2 -->
    <div class="bg-green-500">
        {{items.immagine}}
    </div>

    <!-- Riga 2, Colonna 1 -->
    <div class="bg-yellow-500">
        {{items.lunghezza}} <br>
        {{items.esordio}}
    </div>

    <!-- Riga 2, Colonna 2 -->
    <div class="bg-red-500">
        {{items.giroRecord.nome}} <br>
        {{items.giroRecord.tempo}} <br>
        {{items.giroRecord.anno}}
    </div>
</div>

<div class="mx-auto grid grid-rows-2 p-4 h-[35vh]">
    <!-- Riga 3 -->
    <div class="bg-pink-500">
        {{items.descrizione}}
    </div>

    <!-- Riga 4 -->
    <div class="bg-purple-500">
        {{items.video}}
    </div>

</div>