<div class="max-w-7xl mx-auto p-6 flex flex-col">
    <div class="xl:hidden p-2 mb-4 flex items-center justify-center">
        <img [src]="items.immagine" alt="">
    </div>

    <div class="xl:hidden p-2 mb-6 text-center">
        <p class="text-sm text-[#949494] mb-1">{{items.nazione.nome}}</p>
        <p class="text-xl text-white">{{items.nome}}</p>
    </div>

    <div class="hidden xl:grid xl:grid-cols-2 grid-rows-1 p-10 mb-16 mx-36">
        <div class="p-2 mb-4 flex flex-col justify-start items-start">
            <p class="text-xl text-[#949494] mb-1">{{items.nazione.nome}}</p>
            <strong>
                <p class="text-4xl text-white">{{items.nome}}</p>
            </strong>
        </div>
        <div class="p-2 mb-4 flex items-center justify-center">
            <img [src]="items.immagine" alt="">
        </div>
    </div>

    <div class="xl:hidden bg-[#2a2a2a] p-2 mb-6 grid grid-rows-2 grid-cols-2 place-items-center rounded-2xl">
        <p class="text-sm text-white">Lunghezza</p>
        <p class="text-sm text-white">Esordio</p>
        <p class="text-3xl text-white">{{items.lunghezza}}</p>
        <p class="text-3xl text-white">{{items.esordio}}</p>
    </div>

    <p class="xl:hidden text-xl text-center text-white m-2">Giro Record</p>
    <div class="xl:hidden bg-[#2a2a2a] p-2 mb-10 rounded-8">
        <div class="flex flex-col place-items-center">
            <p class="text-2xl text-white">{{items.giroRecord.nome}}</p>
            <div>
                <div class="grid grid-rows-2 grid-cols-2 place-items-center">
                    <p class="text-sm text-white">Tempo</p>
                    <p class="text-sm text-white">Anno</p>
                    <p class="text-3xl text-white">{{items.giroRecord.tempo}}</p>
                    <p class="text-3xl text-white">{{items.giroRecord.anno}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden xl:grid xl:grid-cols-2 grid-rows-1 text-center mx-36">
        <strong>
            <p class="text-white text-2xl">Dati generali</p>
        </strong>
        <strong>
            <p class="text-white text-2xl">Giro record</p>
        </strong>
    </div>

    <div class="hidden xl:grid xl:grid-cols-2 grid-rows-1 p-10 mb-16 gap-8 mx-36">
        <div class="grid grid-cols-2 grid-rows-1 gap-8 text-center">
            <div class="bg-[#2a2a2a] rounded-2xl flex flex-col justify-center items-center">
                <p class="text-sm text-white">Lunghezza</p>
                <p class="text-3xl text-white">{{items.lunghezza}}</p>
            </div>
            <div class="bg-[#2a2a2a] rounded-2xl flex flex-col justify-center items-center">
                <p class="text-sm text-white">Esordio</p>
                <p class="text-3xl text-white">{{items.esordio}}</p>
            </div>
        </div>
        <div class="bg-[#2a2a2a] rounded-2xl">
            <div class="flex flex-col place-items-center p-10">
                <p class="text-2xl text-white">{{items.giroRecord.nome}}</p>
                <div>
                    <div class="grid grid-rows-2 grid-cols-2 place-items-center">
                        <p class="text-sm text-white">Tempo</p>
                        <p class="text-sm text-white">Anno</p>
                        <p class="text-3xl text-white">{{items.giroRecord.tempo}}</p>
                        <p class="text-3xl text-white">{{items.giroRecord.anno}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-2 mb-20 xl:mx-48">
        <div class="flex flex-col">
            <strong>
                <div class="text-xl text-center mb-5 text-white xl:text-start xl:text-2xl">Descrizione</div>
            </strong>
            <div>
                <p class="text-white">{{items.descrizione}}</p>
            </div>
        </div>
    </div>

    <!-- video da sostituire non appena abbiamo link -->
    <div class="xl:hidden flex items-center justify-center p-2 mb-4 ">
        {{items.video}}
        <iframe class="rounded-2xl" src="https://www.youtube.com/embed/1Vv7O_6exTc?si=jKA-w-K8OyMaS6JO" title="Australia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen width="400" height="275"></iframe>
    </div>

    <div class="hidden xl:flex items-center justify-center p-2 mb-4">
        {{items.video}}
        <iframe class="rounded-2xl" src="https://www.youtube.com/embed/1Vv7O_6exTc?si=jKA-w-K8OyMaS6JO" title="Australia" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen width="800" height="450"></iframe>
    </div>
</div>