<div class="mx-auto flex flex-col lg:justify-center max-w-5xl">
    <div class="mx-8 mt-12 flex justify-center flex-col items-center ">
        <h2 class="font-semibold">Value proposition</h2>
        <p class="mt-2 text-center">PistONE è la piattaforma di riferimento per tutti i fan della Formula 1.</p>
        <p class="mt-3 text-center">Offre un design semplice e intuitivo per facilitare la ricerca di informazioni e la lettura dei dati.</p>
        <p class="mt-3 text-center">Gratuita e ricca di dettagli specifici, propone statistiche e approfondimenti su piloti, scuderie e tracciati. Con un archivio dal 2012 e aggiornamenti sulle nuove competizioni, è ideale per gli appassionati di ieri e oggi.</p>

    </div>
    <hr class="hr-chi-siamo mx-20 rounded mt-12 lg:mx-48">


    <div class="mx-8 mt-12 flex justify-center flex-col items-center">
        <h2 class=" font-semibold">Vision</h2>

        <p class="mt-2 text-center">Vogliamo diventare il punto di riferimento per tutti gli appassionati di f1 che ricercano dati specifici e aggiornati sulle competizioni dal 2012 ad oggi.</p>
    </div>
    <hr class="hr-chi-siamo mx-20 rounded mt-12 lg:mx-48 ">
    <div class="mx-8 mt-12  flex justify-center flex-col items-center">
        <h2 class="font-semibold">Mission</h2>

        <p class="mt-2 text-center">La nostra missione è dare la possibilità agli appassionati di Formula 1 di immergersi completamente nell'esperienza delle corse attuali e passate grazie a dati accurati, tempestivi e completi.</p>
        <p class="mt-3 text-center">Vogliamo creare un ambiente virtuale dove gli utenti possono seguire da vicino le gare, analizzare le prestazioni delle scuderie e dei piloti, e condividere la loro passione.</p>
    </div>
</div>