<div class="max-w-7xl mx-auto">
    <h1 class="text-white text-2xl m-6 md:ms-32">TRACCIATI</h1>
    <div class="flex justify-center items-center space-x-4 flex-col lg:flex-row">
        <div class="flex flex-col" style="margin-top: 27px;">
            <input type="text" class="w-80 bg-[#2b2b2b] rounded-2xl my-1 border-0 text-white" placeholder="Inserisci un nome" [(ngModel)]="searchName">
        </div>
        <div>
            <label class="mt-1">FILTRO PER ANNO</label>
            <div class="flex flex-col">
                <select id="filters" class="bg-[#2b2b2b] rounded-2xl text-white border-0" [(ngModel)]="selectedYear" (change)="onYearChange()">
                    <option value="">Seleziona un anno</option>
                    <option class="text-white">2012</option>
                    <option class="text-white">2013</option>
                    <option class="text-white">2014</option>
                    <option class="text-white">2015</option>
                    <option class="text-white">2016</option>
                    <option class="text-white">2017</option>
                    <option class="text-white">2018</option>
                    <option class="text-white">2019</option>
                    <option class="text-white">2020</option>
                    <option class="text-white">2021</option>
                    <option class="text-white">2022</option>
                    <option class="text-white">2023</option>
                </select>
            </div>
        </div>

    </div>
    <div>
        <div class="container flex flex-row flex-wrap justify-center mx-auto max-w-6xl mt-10">
            <div class="my-8" *ngFor="let item of filteredItems; let i = index" (click)="redirectToDettaglioCircuito(item.id)">
                <a routerLink=" dettaglio">
                    <img [src]="item.immagine" alt="" class="p-2 flex text-center lg:mx-3" style="width: 360px; max-height: 240px;">
                    <h2 class="text-white text-center pb-5 ">
                        {{item.nome}}
                    </h2>
                </a>
            </div>
        </div>
    </div>
</div>