<div class="max-w-7xl mx-auto">
    <h1 class="text-white font-bold text-center text-4xl mt-16 mb-10">TRACCIATI</h1>
    <div class="flex justify-center items-center space-x-4 flex-col lg:flex-row">
        <div class="flex flex-col" style="margin-top: 27px;">
            <label class="mt-1">FILTRO PER NOME</label>
            <input type="text" class="w-80 bg-[#2b2b2b] rounded-2xl my-1 border-0 text-white lg:h-12 text-xl" placeholder="Inserisci un nome" [(ngModel)]="searchName">
        </div>
        <div class="mt-6">
            <label class="mt-1">FILTRO PER ANNO</label>
            <div class="flex flex-col">
                <select id="filters" class="bg-[#2b2b2b] rounded-2xl text-white border-0 lg:h-12" [(ngModel)]="selectedYear" (change)="onYearChange()">
                    <option value="">Seleziona un anno</option>
                    <option class="text-white">2012</option>
                    <option class="text-white">2013</option>
                    <option class="text-white">2014</option>
                    <option class="text-white">2015</option>
                    <option class="text-white">2016</option>
                    <option class="text-white">2017</option>
                    <option class="text-white">2018</option>
                    <option class="text-white">2019</option>
                    <option class="text-white">2020</option>
                    <option class="text-white">2021</option>
                    <option class="text-white">2022</option>
                    <option class="text-white">2023</option>
                </select>
            </div>
        </div>

    </div>
    <div>
        <div class="container flex flex-row flex-wrap justify-center mx-auto max-w-6xl mt-10">
            <div class="my-14 hover:scale-105 transition-transform duration-200" *ngFor="let item of filteredItems; let i = index" (click)="redirectToDettaglioCircuito(item.id)">
                <a routerLink=" dettaglio">
                    <img [src]="item.immagine" alt="" class="p-2 flex text-center lg:mx-3" style="width: 360px; max-height: 240px;">
                    <div class="flex flex-col justify-start  mt-5 ml-12">
                        <h2 class="text-[#969696] font-bold text-base">{{item.nazione.nome}}</h2>
                        <h2 class="text-white pb-5 text-2xl">
                            {{item.nome}}
                        </h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>