.font-custom {
    font-size: 15px;
}
.font-custom-mobile {
    font-size: 24px;
}
.border-custom {
    border-top: solid 18px;
    border-color: #e54f2c;
}
ul {
    list-style-type: none;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10000;
    background-color: #cccccc;
    transition: left 0.3s ease;
}

.fullscreen.active {
    left: 0;
}
.social-color {
    fill: #3c3c3a;
}
