<nav class="navbar">
    <a class="toggle-button" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="brand-title">pistONE</div>
    <div class="navbar-links" [ngClass]="{'active': isMenuOpen}">
        <ul>
            <li><a class="futura" routerLink="/home" (click)="closeMenu()">HOME</a></li>
            <li><a routerLink="/chi-siamo" (click)="closeMenu()">CHI SIAMO</a></li>
            <li><a routerLink="/stagione-2023" (click)="closeMenu()">STAGIONE 2023</a></li>
            <li><a routerLink="/scuderie" (click)="closeMenu()">SCUDERIE</a></li>
            <li><a routerLink="/piloti" (click)="closeMenu()">PILOTI</a></li>
            <li><a routerLink="/classifiche" (click)="closeMenu()">CLASSIFICHE</a></li>
            <li><a routerLink="/tracciati" (click)="closeMenu()">TRACCIATI</a></li>
            <li><a routerLink="/articoli" (click)="closeMenu()">ARTICOLI</a></li>
        </ul>
        <div class="social">
            <a href="">insta</a>
            <a href="">twitter</a>
            <a href="">youtube</a>
        </div>
    </div>
</nav>