<div class="max-w-7xl mx-auto">
    <div class="flex justify-center items-center space-x-4 flex-col lg:flex-row">
        <div class="flex flex-col">
            <label for="">filtra per nome</label>
            <input type="text" class="w-80 bg-[#2b2b2b] rounded-2xl my-1 border-0" placeholder="Inserisci un nome" [(ngModel)]="searchName">
        </div>

        <div class="flex flex-col">
            <label for="filters">Filtra per anno</label>
            <select id="filters" class="bg-[#2b2b2b] rounded-2xl text-white border-0" [(ngModel)]="selectedYear" (change)="onYearChange()">
                <option value="">Seleziona un anno</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
            </select>
        </div>
    </div>
    <div>
        <div class="container flex flex-row flex-wrap justify-center mx-auto max-w-6xl mt-10">
            <div *ngFor="let item of filteredItems; let i = index" (click)="redirectToDettaglioScuderia(item.id)" class="h-44 w-44 lg:mx-6 m-3 rounded-lg overflow-hidden bg-[#0E0E0E]m-10">
                <a>
                    <img [src]="item.logo" alt="" class="w-full h-28 object-contain">
                    <h2 class="text-white text-center px-2 py-3 text-lg">
                        {{item.nome}}
                    </h2>
                </a>
            </div>
        </div>
    </div>
</div>