<h1 class="text-white text-xl mx-9">Stesura dell'articolo</h1>
<div class="flex items-center flex-col">
    <form>
        <input type="text" placeholder="Titolo dell'articolo" class="rounded-xl p-3 w-72 my-5 bg-[rgb(42,42,42)] border-0 text-white">
        <label for="caricaImmagine" class="cursor-pointer rounded-xl p-4 bg-[#2a2a2a] w-72 h-40 flex justify-center flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-auto mb-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>
            <span>Carica immagine</span>
            <input id="caricaImmagine" type="file" accept="image/*" class="hidden" />
        </label>
        <textarea rows="16" cols="50" placeholder="Scrivi articolo" class="rounded-xl p-3 w-72 my-5 mt-8 bg-[#2a2a2a] border-0 text-white"></textarea>

        <button type="submit" class="text-black bg-white rounded-xl m-1 w-32 flex justify-center">Programma</button>
    </form>
</div>
<div class="flex justify-end m-8">
    <button class="text-white bg-[#e54f2c] rounded-xl m-1 w-32 flex justify-center">Pubblica</button>
</div>