<div class=" mt-32 margin-bot-custom">
    <h1 class="text-center text-white text-xl p-7">Area riservata per la pubblicazione degli articoli</h1>
    <form class="shadow-md rounded px-8 pt-6 pb-8 mb-2" (ngSubmit)="onSubmit()">
        <div class="mb-1 justify-center flex">
            <input [(ngModel)]="utente" class="bg-[#3C3C3A] rounded-xl w-72 h-14 py-1 px-3 text-white border-0" id="username" name="username" type="text" placeholder="Nome utente">
        </div>
        <div class="mb-6 justify-center flex">
            <input [(ngModel)]="password" class=" bg-[#3C3C3A] rounded-xl w-72 h-14 py-1 px-3 text-white mb-3 border-0" id="password" name="password" type="password" placeholder="Password">
        </div>
        <div class="flex flex-col items-center justify-center">
            <div *ngIf="feedbackMessage" class="text-red-500 text-sm mb-4">{{ feedbackMessage }}</div>
            <button type="submit" class="flex justify-center bg-[#E54F2C] hover:bg-[#b13f26] w-32 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:shadow-outline">
                ACCEDI
            </button>
        </div>
    </form>
</div>