<h1 class="text-center text-white">Articoli</h1>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100vh;">
    <div style="height: 71vh; width: 400px; margin: 10px; background-color: #2B2B2B; overflow: auto; border-radius: 10px;">
        <a [routerLink]="['/dettaglio', items[0].id]" (click)="redirectToDettaglioArticolo(items[0].id)">
            <img [src]="items[0].imageUrl" alt="Load..." style="height: 50%; width: 100%; ">
            <h2 class="text-white" style="padding: 10px;">{{items[0].titolo}}</h2>
            <p class="text-white" style="padding: 15px;">{{items[0].testo}}</p>
            <p class="text-white" style="padding-top: 95px; padding-left: 200px;">{{items[0].data}}</p>
        </a>
    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-between;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="height: 34vh; width: 240px; margin: 10px; background-color: #2B2B2B; overflow: auto; border-radius: 10px;">
                <a [routerLink]="['/dettaglio', items[1].id]" (click)="redirectToDettaglioArticolo(items[1].id)">
                    <img [src]="items[1].imageUrl" alt="Load..." style="height: 50%; width: 100%; ">
                    <h2 class="text-white" style="padding: 10px;">{{items[1].titolo}}</h2>
                    <p class="text-white" style="padding: 10px;">{{items[1].testo}}</p>
                    <p class="text-white" style="padding-top: 10px; padding-left: 40px;">{{items[1].data}}</p>
                </a>
            </div>
            <div style="height: 34vh; width: 240px; margin: 10px; background-color: #2B2B2B; overflow: auto; border-radius: 10px;">
                <a [routerLink]="['/dettaglio', items[2].id]" (click)="redirectToDettaglioArticolo(items[2].id)">
                    <img [src]="items[2].imageUrl" alt="Load..." style="height: 50%; width: 100%; ">
                    <h2 class="text-white" style="padding: 10px;">{{items[2].titolo}}</h2>
                    <p class="text-white" style="padding: 10px;">{{items[2].testo}}</p>
                    <p class="text-white" style="padding-top: 10px; padding-left: 40px;">{{items[2].data}}</p>
                </a>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="height: 34vh; width: 240px; margin: 10px; background-color: #2B2B2B; overflow: auto; border-radius: 10px;">
                <a [routerLink]="['/dettaglio', items[3].id]" (click)="redirectToDettaglioArticolo(items[3].id)">
                    <img [src]="items[3].imageUrl" alt="Load..." style="height: 50%; width: 100%; ">
                    <h2 class="text-white" style="padding: 10px;">{{items[3].titolo}}</h2>
                    <p class="text-white" style="padding: 10px;">{{items[3].testo}}</p>
                    <p class="text-white" style="padding-top: 10px; padding-left: 40px;">{{items[3].data}}</p>
                </a>
            </div>
            <div style="height: 34vh; width: 240px; margin: 10px; background-color: #2B2B2B; overflow: auto; border-radius: 10px;">
                <a [routerLink]="['/dettaglio', items[4].id]" (click)="redirectToDettaglioArticolo(items[4].id)">
                    <img [src]="items[4].imageUrl" alt="Load..." style="height: 50%; width: 100%; ">
                    <h2 class="text-white" style="padding: 10px;">{{items[4].titolo}}</h2>
                    <p class="text-white" style="padding: 10px;">{{items[4].testo}}</p>
                    <p class="text-white" style="padding-top: 10px; padding-left: 40px;">{{items[4].data}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="w-full h-[500px] relative">
    <div class="left-[557px] top-[146px] absolute text-center text-white text-[25px] font-bold font-['Inter']">Iscriviti alla nostra Newletter!</div>
    <div class="left-[591px] top-[189px] absolute text-center text-white text-xl font-normal font-['Inter']">Aggiornamenti ogni settimana</div>
    <div class="left-[855px] top-[365px] absolute text-center text-white text-[10px] font-normal font-['Inter']">
        <input type="checkbox" id="terms" name="terms" value="accepted">
        <label for="terms">Privacy Policy</label>
    </div>
    <div class="w-[335px] h-[47px] left-[430px] top-[354px] absolute bg-zinc-800 rounded-lg">
        <input type="email" placeholder="Inserisci email" class="w-full h-full text-white bg-transparent rounded-lg">
    </div>
    <div class="w-[335px] h-[47px] left-[430px] top-[277px] absolute bg-zinc-800 rounded-lg">
        <input type="text" placeholder="Inserisci nome" class="w-full h-full text-white bg-transparent rounded-lg">
    </div>
    <div class="w-44 h-[47px] left-[833px] top-[301px] absolute bg-red-500 rounded-lg">
        <button class="w-full h-full text-white bg-red-500 rounded-lg ">Iscriviti!</button>
    </div>
    <div class="w-[611px] h-1.5 left-[414px] top-[15px] absolute bg-red-500 rounded-[20px]"></div>
</div>