<div class="max-w-7xl mx-auto hidden lg:block mt-32">
    <div class="w-full flex items-end justify-center mb-20 cursor-pointer" style="height: 450px;">
        <div class="flex felx-row items-end justify-center gap-6 relative">
            <div class="w-80 h-28 bg-[#2a2a2a] rounded-2xl" (click)="redirectToDettaglioScuderia(items[1].id)">
                <img [src]="items[1].logo" class="absolute max-h-52" style="top: -234px; left:40px; max-width: 270px;">
                <h2 class="absolute text-white text-7xl font-bold" style="top: -11px; left:22px;">{{items[1].posizione}}°</h2>
                <div class="flex flex-col justify-center items-center h-full">
                    <h2 class="text-white font-bold text-xl">{{items[1].nome}}</h2>
                    <p class="text-white text-2xl mt-2">{{items[1].punti}} pt.</p>
                </div>
            </div>
            <div class="w-80 h-40 bg-[#2a2a2a] rounded-2xl cursor-pointer" (click)="redirectToDettaglioScuderia(items[0].id)">
                <h2 class="absolute text-white text-7xl font-bold" style="top: -57px; right:570px;">{{items[0].posizione}}°</h2>
                <img [src]="items[0].logo" class="absolute max-h-52" style="top: -288px; left:414px; max-width: 270px;">
                <div class="flex flex-col justify-center items-center h-full">
                    <h2 class="text-white font-bold text-xl">{{items[0].nome}}</h2>
                    <p class="text-white text-2xl mt-2">{{items[0].punti}} pt.</p>
                </div>
            </div>
            <div class="w-80 h-28 bg-[#2a2a2a] rounded-2xl cursor-pointer" (click)="redirectToDettaglioScuderia(items[2].id)">
                <h2 class="absolute text-white text-7xl font-bold" style="top: -9px; right:221px;">{{items[2].posizione}}°</h2>
                <img [src]="items[2].logo" class="absolute max-h-52" style="top: -234px; right:70px; max-width: 270px;">
                <div class="flex flex-col justify-center items-center h-full">
                    <h2 class="text-white font-bold text-xl">{{items[2].nome}}</h2>
                    <p class="text-white text-2xl mt-2">{{items[2].punti}} pt.</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-chi-siamo mx-20 rounded mt-12">

    <div *ngFor="let item of items; let i = index" class=" my-6 mt-20 cursor-pointer">
        <div *ngIf="i >= 3" class="rounded-3xl flex flex-row bg-[#2a2a2a]" style="height: 140px;" (click)="redirectToDettaglioScuderia(item.id)">
            <div class="flex items-center justify-center w-1/12">
                <h3 class="text-5xl text-white font-bold ms-3">
                    {{item.posizione}}°
                </h3>
            </div>
            <div class="flex flex-row w-2/12">
                <div class="text-white flex flex-row">
                    <div class="flex items-center">
                        <img [src]="item.logo" class="object-cover max-h-32">
                    </div>
                </div>
            </div>
            <div class="w-3/12 flex items-center justify-center">
                <h3 class="text-white text-xl text-center font-bold">
                    {{item.nome}}
                </h3>
            </div>
            <div class="w-4/12 flex items-center justify-center">
                <h3 class="text-white text-2xl text-center">
                    {{item.punti}} pt.
                </h3>
            </div>
            <div class="w-2/12 flex flex-col justify-center items-start mr-5" style="gap: 6px;">
                <div *ngFor="let pilota of item.piloti">
                    <div class="flex flex-row">
                        <img class="rounded-full object-cover h-6 w-6 me-3" [src]="pilota.bandiera" alt="">
                        <h2 class="text-white">{{pilota.nome}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="lg:hidden">
    <div *ngFor="let item of items; let i = index" class="my-6">
        <div *ngIf="i < 3" class="relative flex flex-row " style="height: 128px;" (click)="redirectToDettaglioScuderia(item.id)">
            <div class="flex flex-row gap-4">
                <div class="flex justify-center items-center">
                    <h2 class="text-5xl text-white font-bold ms-3">
                        {{item.posizione}}°
                    </h2>
                </div>
                <div class="bg-[#2a2a2a] rounded-2xl p-3 w-32 h-32 flex justify-center items-center">
                    <img [src]="item.logo" class="object-cover max-h-full max-w-full">
                </div>
                <div class="flex flex-col items-start justify-center">
                    <h2 class="text-white text-base font-bold">
                        {{item.nome}}
                    </h2>
                    <h2 class="text-white">
                        {{item.punti}} pt.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="lg:hidden">
    <div *ngFor="let item of items; let i = index" class="my-6">
        <div *ngIf="i >= 3" class="flex flex-row" style="height: 128px;" (click)="redirectToDettaglioScuderia(item.id)">
            <div class="flex flex-row gap-4">
                <div class="flex justify-center items-center">
                    <h2 class="text-5xl text-white font-bold ms-3">
                        {{item.posizione}}°
                    </h2>
                </div>
                <div class="bg-[#2a2a2a] rounded-2xl p-3 w-32 h-32 flex justify-center items-center">
                    <img [src]="item.logo" class="object-cover max-h-full max-w-full">
                </div>
                <div class="flex flex-col items-start justify-center">
                    <h2 class="text-white text-base font-bold">
                        {{item.nome}}
                    </h2>
                    <h2 class="text-white">
                        {{item.punti}} pt.
                    </h2>
                </div>
            </div>
        </div>
    </div>

</div>