<div class="max-w-7xl mx-auto">
    <div class="lg:hidden grid grid-cols-12 grid-rows-1 px-10 mb-16">
        <div class="col-span-7 relative">
            <div class="absolute bottom-0 left-0 h-2/5 rounded-2xl w-4/5 bg-[#D9D9D9] bg-opacity-20"></div>
            <img class="absolute left-16 h-[90%] max-w-full bottom-0 object-cover" [src]=items.immagine alt="">
            <div class="flex justify-start ml-3">
                <div class="h-16 w-16 rounded-full absolute overflow-hidden bottom-[45%]">
                    <img src="{{items.nazione.bandiera}}" alt="" class="object-cover absolute w-full h-full rounded-full">
                </div>
                <p class="text-white absolute bottom-[3.7rem] text-sm">N° vettura</p>
                <strong>
                    <p class="text-white text-5xl absolute bottom-0">{{items.numero}}</p>
                </strong>
            </div>
        </div>
        <div class="p-11 col-span-5 aspect-square flex flex-col justify-center">
            <p><strong class="text-white">{{items.nome}}</strong></p>
            <strong>
                <p class="text-[#969696] mt-3">{{items.nazione.nome}}</p>
            </strong>
            <p class="text-white mt-3">{{items.dataNascita}}</p>
        </div>
    </div>

    <div class="hidden lg:block relative mx-32">
        <div class="mb-16 mt-24 flex flex-row justify-between px-10">
            <div>
                <strong>
                    <p class="text-white text-4xl">{{items.nome}}</p>
                </strong>
                <p class="text-[#969696] text-2xl">{{items.nazione.nome}}</p>
            </div>
            <div>
                <p class="text-white text-xl">Data di Nascita</p>
                <h2 class="text-white text-base">{{items.dataNascita}}</h2>
            </div>
        </div>
        <div class="flex justify-center">
            <img [src]="items.immagine" class="hidden lg:block absolute bottom-0 max-h-64">
        </div>
        <div class="flex flex-row">
            <div class="h-40 w-14 rounded-l-2xl bg-[#E54F2C]">
            </div>
            <div class="hidden lg:flex flex-row bg-[#2a2a2a] h-40 justify-between px-32" style="width: 1300px;">
                <div class="flex items-center">
                    <div class="flex flex-col">
                        <p class="text-xl text-white text-center">n° auto</p>
                        <strong>
                            <p class="text-8xl text-white text-center mt-3">{{items.numero}}</p>
                        </strong>
                    </div>
                </div>
                <div class="flex items-center">
                    <img [src]=items.nazione.bandiera class="rounded-full w-28 h-28">
                </div>
            </div>
            <div class="h-40 w-14 rounded-r-2xl bg-[#E54F2C]">
            </div>
        </div>
    </div>

    <div class="mt-40">
        <strong>
            <p class="text-white text-xl text-center mb-8 mt-6">TEAM</p>
        </strong>
        <div class=" flex flex-row flex-wrap justify-center">
            <div *ngFor="let item of items.scuderie" class="lg:mx-5">
                <div class="bg-[#2a2a2a] rounded-2xl  h-32 w-32 lg:h-52 lg:w-52 mx-1 p-2 flex justify-center items-center">
                    <img class="max-h-36" [src]="item.logo">
                </div>
            </div>
        </div>
    </div>

    <div class="xl:hidden grid grid-cols-2 gap-8 p-5 mb-10">
        <div class="bg-[#2a2a2a] p-4 rounded-3xl">
            <p class="mt-3 text-center text-white text-base">Numero Grand Prix</p>
            <p class="mt-5 text-4xl text-center text-white">{{items.ngrandprix}}</p>
        </div>
        <div class="bg-[#2a2a2a] p-4 rounded-3xl">
            <p class="mt-3 text-center text-white text-base">Numero Podi</p>
            <p class="mt-5 text-4xl text-center text-white">{{items.podio}}</p>
        </div>
    </div>

    <div class="xl:hidden p-5">
        <div class="bg-[#2a2a2a] rounded-2xl flex flex-row justify-around mb-10">
            <div>
                <p class="text-white text-base p-4 text-center">Campionati</p>
                <h2 class="text-white text-4xl p-4 pt-0 text-center">{{items.vittorieCampionati}}</h2>
            </div>
            <div>
                <p class="text-white text-base p-4 text-center">Gare</p>
                <h2 class="text-white text-4xl p-4 pt-0 text-center">{{items.vittorieTotali}}</h2>
            </div>
        </div>
    </div>

    <div class="hidden xl:grid grid-cols-2 mt-44 mx-36 gap-x-12 ms-80">
        <strong>
            <p class="text-white text-lg ms-10">VITTORIE</p>
        </strong>
        <strong>
            <p class="text-white text-lg ms-24">PARTECIPAZIONI</p>
        </strong>
    </div>
    <div class="hidden xl:grid grid-cols-2 mx-36 mb-10 gap-x-12">
        <div class="p-5 w-[30rem]">
            <div class="bg-[#2a2a2a] rounded-2xl flex flex-row justify-around mb-10 h-40 items-center">
                <div class="w-1/2">
                    <p class="text-white text-base p-4 text-center">Campionati</p>
                    <h2 class="text-white text-4xl p-4 pt-0 text-center">{{items.vittorieCampionati}}</h2>
                </div>
                <div class="w-1/2">
                    <p class="text-white text-base p-4 text-center">Gare</p>
                    <h2 class="text-white text-4xl p-4 pt-0 text-center">{{items.vittorieTotali}}</h2>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 w-[30rem] p-5 mb-10">
            <div class="bg-[#2a2a2a] p-4 rounded-3xl flex items-center justify-center flex-col">
                <p class="mt-3 text-center text-white text-base">Numero Grand Prix</p>
                <p class="mt-5 text-4xl text-center text-white">{{items.ngrandprix}}</p>
            </div>
            <div class="bg-[#2a2a2a] p-4 rounded-3xl flex items-center justify-center flex-col">
                <p class="mt-3 text-center text-white text-base">Numero Podi</p>
                <p class="mt-5 text-4xl text-center text-white">{{items.podio}}</p>
            </div>
        </div>
    </div>
    <div>
        <h2 class="text-white text-xl text-center mb-4 mt-6">Variazione del punteggio negli anni</h2>
        <div class="flex flex-col items-center mx-9">
            <div class="bg-[#2a2a2a] rounded-2xl m-5 p-4 custom-size">
                <h3>
                    <app-grafico-pilota></app-grafico-pilota>
                </h3>
            </div>
        </div>
    </div>
</div>
<app-confronto-piloti [idPilota]="items?.id"></app-confronto-piloti>