<div class="max-w-7xl mx-auto">
    <div class="flex justify-center items-center space-x-4 flex-col lg:flex-row">
        <div class="flex flex-col">
            <label for="">filtra per nome</label>
            <input type="text" class="w-80 bg-[#2b2b2b] rounded-2xl my-1 border-0" placeholder="Inserisci un nome" [(ngModel)]="searchName">
        </div>

        <div class="flex flex-col">
            <label for="filters">Filtra per anno</label>
            <select id="filters" class="bg-[#2b2b2b] rounded-2xl text-white border-0" [(ngModel)]="selectedYear" (change)="onYearChange()">
                <option value="">Seleziona un anno</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
            </select>
        </div>

    </div>
    <div>

        <div class="w-full flex flex-col justify-center p-5" *ngFor="let item of filteredItems let i=index">
            <div class=" grid grid-cols-9 text-center bg-[#2a2a2a] rounded-2xl h-[20vh]" (click)="redirectToDettaglioPilota(item.id)">
                <div class=" col-span-5 p-4 ms-6 mt-3">
                    <p class="text-white text-sm mb-2">{{item.nazione.nome}}</p>
                    <p class="text-xl mb-2"><strong class="text-white">{{item.nome}}</strong></p>
                    <p class="text-white text-sm">Punti carriera: <strong class="text-white">{{item.puntiCarriera}}</strong></p>
                </div>

                <div class="col-span-4 flex flex-col relative">
                    <div class="h-16 w-16 rounded-full relative top-3 right-3 overflow-hidden self-end">
                        <img src="{{item.nazione.bandiera}}" alt="" class="object-cover absolute w-full h-full rounded-full">
                    </div>
                    <img class="max-h-[20vh] absolute bottom-0 -ms-8" [src]=item.immagine alt="">
                </div>
            </div>
        </div>
    </div>