<div class="flex flex-row justify-evenly">
    <button routerLink="piloti" queryParamsHandling="merge" routerLinkActive="custom-active-button" class="bg-[#2A2A2A] rounded-3xl flex justify-center custom-button-width">
        Piloti
    </button>
    <button routerLink="gran-premi" queryParamsHandling="merge" routerLinkActive="custom-active-button" class="bg-[#2A2A2A] rounded-3xl flex justify-center custom-button-width">
        Gran Premi
    </button>
    <button routerLink="scuderie" queryParamsHandling="merge" routerLinkActive="custom-active-button" class="bg-[#2A2A2A] rounded-3xl flex justify-center custom-button-width">
        Scuderie
    </button>
</div>
<router-outlet></router-outlet>