<app-anno></app-anno>
<div class="flex flex-row justify-evenly lg:justify-center lg:gap-8 my-10">
    <button routerLink="piloti" queryParamsHandling="merge" routerLinkActive="custom-active-button" class="bg-[#2A2A2A] lg:text-xl rounded-3xl flex justify-center custom-button-width lg:h-12 lg:w-72 w-28 hover:scale-105 transition-transform duration-200 font-bold">
        Piloti
    </button>
    <button routerLink="gran-premi" queryParamsHandling="merge" routerLinkActive="custom-active-button" class="bg-[#2A2A2A] lg:text-xl rounded-3xl flex justify-center custom-button-width lg:h-12 lg:w-72 w-28 hover:scale-105 transition-transform duration-200 font-bold">
        Gran Premi
    </button>
    <button routerLink="scuderie" queryParamsHandling="merge" routerLinkActive="custom-active-button" class="bg-[#2A2A2A] lg:text-xl rounded-3xl flex justify-center custom-button-width lg:h-12 lg:w-72 w-28 hover:scale-105 transition-transform duration-200 font-bold">
        Scuderie
    </button>
</div>
<router-outlet></router-outlet>