<div class="max-w-7xl mx-auto">
    <div class="ml-5 mt-10">
        <h1 class="font-bold text-white text-2xl">Sotto il cofano</h1>
        <p class="text-white text-base mt-4">In questa pagina sarà possibile testare la parte di backend e le chiamate API.</p>
        <div class="flex flex-col my-20 gap-16">
            <a class="text-white text-2xl" (click)="showDettaglioPilota ? hideDettaglioPilota() : getDettaglioPilota(1)">Dettaglio pilota</a>
            <div class="scrollable mr-5" *ngIf="showDettaglioPilota">
                <pre *ngIf="dettaglioPilota" class="text-white p-3">{{ dettaglioPilota | json }}</pre>
            </div>
            <a class="text-white text-2xl" (click)="showListaScuderie ? hideListaScuderie(): getListaScuderie(1)">Lista scuderie</a>
            <div class="scrollable mr-5" *ngIf="showListaScuderie">
                <pre *ngIf="listaScuderie" class="text-white p-3">{{ listaScuderie | json }}</pre>
            </div>
            <a class="text-white text-2xl" (click)="showClassificaPilota2023 ? hideClassificaPiloti2023(): getClassificaPiloti2023(2023)">Classifica piloti 2023</a>
            <div class="scrollable mr-5" *ngIf="showClassificaPilota2023">
                <pre *ngIf="classificaPiloti2023" class="text-white p-3">{{ classificaPiloti2023 | json }}</pre>
            </div>
            <a class="text-white text-2xl" (click)="showDettaglioGrandPrix ? hideDettaglioGrandPrix() : getDettaglioGrandPrix(1)">Dettaglio Grand Prix</a>
            <div class="scrollable mr-5" *ngIf="showDettaglioGrandPrix">
                <pre *ngIf="dettaglioGrandPrix" class="text-white p-3">{{ dettaglioGrandPrix | json }}</pre>
            </div>
            <a class="text-white text-2xl" (click)="showCalendario2024 ? hideCalendario2024(): getCalendario2024()">Calendario 2024</a>
            <div class="scrollable mr-5" *ngIf="showCalendario2024">
                <pre *ngIf="calendario2024" class="text-white p-3">{{ calendario2024 | json }}</pre>
            </div>
            <a class="text-white text-2xl" (click)="showAndamentoPilota ? hideAndamentoPilota() :getAndamentoPilota(1)">Andamento pilota</a>
            <div class="scrollable mr-5" *ngIf="showAndamentoPilota">
                <pre *ngIf="andamentoPilota" class="text-white p-3">{{ andamentoPilota | json }}</pre>
            </div>
        </div>
    </div>
</div>