<section class="">
    <div class="calendario-2024 ms-7 me-4 mt-7">
        <div class="bg-[#2a2a2a] rounded-lg image-item h-64 w-40 flex justify-center" *ngFor="let item of carosello">
            <div class=" flex flex-col items-center">
                <img src="../../assets/img/{{item.bandiera}}.svg.png" alt="img-1" class="image-item w-24 h-24 rounded-full object-cover">
                <!-- <div style="background-image: url(../../assets/img/{{item.bandiera}}.svg.png);"></div> -->
                <h2 class="text-white text-custom">{{item.nazione}}</h2>
                <h3 class="text-white text-custom break-words">{{item.nome}}</h3>
                <h2 class="text-white text-5xl p-2">{{item.giorni}}</h2>
                <h2 class="text-white">{{item.mese}}</h2>
            </div>
        </div>
    </div>
</section>