<h2 class="text-white text-xl text-center">Classifica Stagione 2023</h2>
<div class="w-full mt-8">
    <div class="flex flex-col lg:flex-row justify-center">
        <div class="lg:hidden">
            <div class="lg:hidden">
                <div class="bg-[#2B2B2B] m-2 flex flex-row items-center rounded-3xl justify-between">
                    <div class="flex flex-row">
                        <div class="flex items-center">
                            <h2 class="text-7xl text-[#E54F2C] font-bold p-3 pr-0">
                                {{items[0].posizione}}°
                            </h2>
                        </div>
                        <div>
                            <img src="{{items[0].immagine}}" class="h-40">
                        </div>
                    </div>
                    <div class="flex flex-col mr-7">
                        <div class="mb-5">
                            <h3 class="text-white text-3xl">
                                {{items[0].nome}}
                            </h3>
                            <h4 class="text-white text-base text-center">
                                {{items[0].scuderia.nome}}
                            </h4>
                        </div>
                        <div>
                            <h4 class="text-white text-4xl text-center">
                                {{items[0].punti}} pt.
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:hidden">
            <div class="bg-[#2B2B2B] m-2 flex flex-row items-center rounded-3xl">
                <h2 class="text-6xl text-[#E54F2C] font-bold p-3">
                    {{items[1].posizione}}°
                </h2>
                <div class="flex flex-row w-full justify-between">
                    <div class="ms-5">
                        <h3 class="text-white text-2xl pt-3">
                            {{items[1].nome}}
                        </h3>
                        <h4 class="text-white">
                            {{items[1].scuderia.nome}}
                        </h4>
                    </div>
                    <div class="flex items-center">
                        <h4 class="text-white text-4xl pr-7 pt-1">
                            {{items[1].punti}} pt.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:hidden">
            <div class="bg-[#2B2B2B] m-2 flex flex-row items-center rounded-3xl">
                <h2 class="text-5xl text-[#E54F2C] font-bold p-3">
                    {{items[2].posizione}}°
                </h2>
                <div class="flex flex-row w-full justify-between">
                    <div class="ms-5">
                        <h3 class="text-white text-2xl pt-3">
                            {{items[2].nome}}
                        </h3>
                        <h4 class="text-white">
                            {{items[2].scuderia.nome}}
                        </h4>
                    </div>
                    <div class="flex items-center">
                        <h4 class="text-white text-4xl pr-7  pt-1">
                            {{items[2].punti}} pt.
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <!-- Elementi nell'ordine 1,0,2 per dispositivi desktop -->
        <div class="hidden lg:flex lg:flex-row items-end relative overflow-hidden pt-14">
            <div class="lg:w-72 lg:h-52 bg-slate-600 m-1 rounded-3xl">
                <h2 class="text-white text-6xl absolute top-0 left-0 mt-20 ms-5">
                    {{items[1].posizione}}°
                </h2>
                <img [src]="items[1].immagine" class="h-48 absolute top-0 left-0 ms-14 mt-7">
                <div class="bg-[#2a2a2a] absolute w-72 h-24 mt-28 rounded-b-3xl flex flex-col">
                    <div class="mt-3 ms-3">
                        <h2 class="text-white text-xl">{{items[1].nome}}</h2>
                        <h2 class="text-white text-base">{{items[1].scuderia.nome}}</h2>
                    </div>
                    <div class="flex justify-end me-6 ">
                        <h2 class="text-white text-base">{{items[1].punti}} pt.</h2>
                    </div>
                </div>
            </div>
            <div class="lg:w-80 lg:h-64 bg-slate-600 m-1 rounded-3xl">
                <h2 class="text-white text-6xl absolute top-0 left-0 mt-8 ml-80">
                    {{items[0].posizione}}°
                </h2>
                <img [src]="items[0].immagine" class="h-60 absolute top-0 left-0 mt-0 ml-96">
                <div class="bg-[#2a2a2a] absolute w-80 h-24 mt-40 rounded-b-3xl flex flex-col">
                    <div class="mt-3 ms-3 flex flex-row justify-between">
                        <div>
                            <h2 class="text-white text-xl">{{items[0].nome}}</h2>
                            <h2 class="text-white text-base">{{items[0].scuderia.nome}}</h2>
                        </div>
                        <div class="me-9 mt-2">
                            <img [src]="items[0].nazione.bandiera" class="h-8 w-8 rounded-full items-cemter">
                        </div>
                    </div>
                    <div class="flex justify-end me-6 ">
                        <h2 class="text-white text-base">{{items[0].punti}} pt.</h2>
                    </div>
                </div>
            </div>
            <div class="lg:w-72 lg:h-52 bg-slate-600 m-1 rounded-3xl">
                <h2 class="text-white text-6xl absolute top-0 right-0 mt-20 me-52">
                    {{items[2].posizione}}°
                </h2>
                <!-- appena ho immagine giusta si mette quella  -->
                <img [src]="items[4].immagine" class="h-48 absolute top-0 right-0 me-12 mt-7">
                <div class="bg-[#2a2a2a] absolute w-72 h-24 mt-28 rounded-b-3xl flex flex-col">
                    <div class="mt-3 ms-3">
                        <h2 class="text-white text-xl">{{items[2].nome}}</h2>
                        <h2 class="text-white text-base">{{items[2].scuderia.nome}}</h2>
                    </div>
                    <div class="flex justify-end me-6 ">
                        <h2 class="text-white text-base">{{items[2].punti}} pt.</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="w-full flex justify-center">
        <button class="rounded-lg bg-[#E54F2C]	text-lg mt-5" routerLink="/classifiche-anno/piloti">
            Vedi tutti risultati
        </button>
    </div>











    <section class="articoli">
        <div>
            <h2 class="text-white text-xl text-center mt-8">Articoli</h2>
            <div class="justify-center">
                <div class="w-full flex justify-center">
                    <button class="rounded-lg bg-[#E54F2C]	text-lg mt-5">
                        Vedi tutti articoli
                    </button>
                </div>
            </div>

        </div>
    </section>
    <hr class="hr-chi-siamo mx-20 rounded mt-12">
    <section class="calendario-2024">
        <div>
            <h2 class="text-white text-xl text-center mt-8">Calendario 2024</h2>


        </div>
    </section>
    <section class="newsletter">

    </section>