.hide-footer {
    display: none;
}
.hr-chi-siamo {
    border: 0.1cm solid #e54f2c;
}
.text-custom {
    font-size: 14px;
}
.font-data {
    font-size: 9px;
}
.button {
    background: #e54f2c;
    border-radius: 0.75rem;
}
.w-custom {
    max-width: 800px;
}
